@import 'tailwindcss';


html {
  scroll-behavior: smooth;
}

/* Remove browser’s default search icon */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



html,
body {
  font-family: var(--font-robotoslab);
  color: white;
}

@theme {
  /* color */
  /* (shadow) */
  --color-muteGrey: #2d3e50;
  /* biru tua */
  --color-blueDark: #1e293b;
  /* biru muda */
  --color-blueDisable: #4e74a7;
  /* // stroke dan line jpg */
  --color-blueLine : #9EAEC8;


  /* text */
  --text-24: 24px;
  --text-36: 36px;
  --text-48: 48px;

  /* Border radius */
  --radius-50: 50px;

}


.font-staat {
  font-family: var(--font-staatliches);
}
.font-rowdies {
  font-family: var(--font-rowdies);
}
.font-robotoSlab {
  font-family: var(--font-roboto-slab);
}

/* glass effect */
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1), inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), transparent, rgba(255, 255, 255, 0.3));
}


/* flex */

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}


.infinite-bounce{
  animation: bounce-diagonal 2s infinite;
}

@keyframes bounce-diagonal {
  0%, 100% {
    transform: translate(-30%, -30%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


.pentagon {
  clip-path: polygon(
    50% 0%,
    100% 38%,
    82% 100%,
    18% 100%,
    0% 38%
  );
}