@import 'tailwindcss';
@config "../../tailwind.config.ts";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
--default-font-family: var(--font-robotoslab);
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-robotoslab);
  --font-staatliches: var(--font-staatliches);

} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

html, body {
  font-family: var(--font-robotoslab), 
}


@theme {
  
  /* color */
  --color-muteGrey: #2d3e50;
  --color-blueDark: #1e293b;
  --color-blueDisable: #4E74A7;
  
  /* text */
  --text-24: 24px;
  --text-36: 36px;

  /* Border radius */
    --radius-50: 50px; 
}
