.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 80px);
  position: relative;
}

.paragraf {
  max-width: 30rem;
}

.matrix_left{
    top: 130px;
    position: absolute;
    right: -90px;
}



.iconArea {
  position: absolute;
  right: 40px;
  top: 50%;
  width: 140px;
  height: 140px;
}

.matrix {
  position: relative;
  z-index: 2;
}

.icons {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.iconArea:hover .icon {
  opacity: 1;
}

/* atas */
.iconArea:hover .icon1 {
  transform: translate(-50%, -120px) scale(1);
}

/* kanan */
.iconArea:hover .icon2 {
  transform: translate(70px, -50%) scale(1);
}

/* kiri */
.iconArea:hover .icon3 {
  transform: translate(-140px, -50%) scale(1);
}

/* bawah */
.iconArea:hover .icon4 {
  transform: translate(-50%, 80px) scale(1);
}

.icon1 {
  transition-delay: 0s;
}
.icon2 {
  transition-delay: 0.05s;
}
.icon3 {
  transition-delay: 0.1s;
}
.icon4 {
  transition-delay: 0.15s;
}

.icon:hover {
  transform: scale(1.15) !important;
}

.buttonBorder{
  /* width style color */
  border: 2px solid #9EAEC8;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}