.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30rem;
    min-height: calc(100vh - 80px) ;  
    position: relative;  
}


.matrix_left{
    top: 104px;
    position: relative;
    right: 22px;
}

.icons_1{
    position: relative;
    right: 33px;
    top: 30px;

}

.icons_2{
    position: relative;
    right: -35px;
    bottom: -75px;

}

.icons_3{
    position: relative;
    top: 30px;
    right: 108px;
}

.icons_4{
     top: 73px;
    position: relative;
    right: 41px;
}